.form-select {
    width: 50%;
    margin: 10px 0 0 10px;
}

.btn {
    margin: 10px;
}

h5 {
    font-size: 18px;
}

.hide {
    display: none;
}

#currencyCard {
    width: 90%;
    padding: 10px;
    margin: 0 0 0 10px;
}

#search-history {
    width: 90%;
    margin: auto;
}