* {
    font-family: 'Sarabun', sans-serif;
}

.form-select {
    width: 50%;
    margin: 10px 0 0 10px;
}

.btn {
    margin: 10px;
    /* background-color: #1c376c;
    border: 0px; */
}

#search-btn {
    border-radius: 0rem !important;
    border-top-right-radius: var(--bs-border-radius) !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
}

.input-group .btn {
    position: relative;
    z-index: 0;
}

::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}

h1 {
    color: white;
    /* color: #7fc9cb; */
    /* color: #1d6a8aff; */
    font-size: 24px;
    margin: auto;
}

h5 {
    font-size: 18px;
}

.navbar {
    display: flexbox;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 15px; */

}

.welcome-box {
    background: rgba(24, 70, 89, 0.7);
    height: 60vh;
    width: 100%;
    /* border-radius: 15px;
    max-width: 80%; */
    /* display: flexbox; */
    overflow: hidden;
    justify-content: center;
    align-items: center;

}


#logo {
    flex: 1;
    overflow: hidden;
    max-width: fit-content;

}

#welcome {
    flex: 1;
    overflow: hidden;
    padding: 10px;
    max-width: fit-content;
}

#welcome p {
    color: white;
}

#destination {
    /* display: inline-flex;
    width: 10vw !important; */
}

.input-group {
    width: auto !important;
}

#itinerary-card-text,
#news-append {
    overflow-y: scroll;
    max-height: 70vh;
}

#currency-card,
#weather-card {
    margin-bottom: 10px;
}

#currencyCard {
    width: 90%;
    margin: auto;
    padding: 10px;
}

#past-searches {
    margin: auto;
    margin-top: 10px;
}

#search-form {
    width: 100%;
    background-color: #7fc9cb;
    --bs-gutter-x: 0;
    /* margin: auto; */
}

.border-light {
    border: 1px solid #ced4da !important;
}

.footer {
    margin: 20px 0 0 0;
    background-color: #212241;
    padding: 10px 0 10px 0;
    color: #7fc9cb;
}

#history-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 200px;
    justify-content: center;
}

.btnHistory {
    text-align: center;
    width: 12rem;
    padding: 3px;
    margin: 0 5px 5px 0;
    border: solid 1px black;
    border-radius: 7px;
}

#btnClearHistory {
    margin: 0 0 10px 0;
    border-radius: 7px;

}

.hideSection {
    display: none;
}

.showSection {
    display: '';
}

a {
    color: #7fc9cb;
}

/* --bs-btn-color: #000;
    --bs-btn-bg: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: #c6c7c8;
    --bs-btn-focus-shadow-rgb: 211,212,213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
} */

.btn-dark {

    color: #ffffff;
    background-color: #212241;
    border-color: #212241;
}

.btn-dark:hover {
    color: #ffffff;
    background-color: #1c1d37;
    border-color: #1a1b34;
}

.btn-check:focus+.btn-dark,
.btn-dark:focus {
    color: #ffffff;
    background-color: #1c1d37;
    border-color: #1a1b34;
    box-shadow: 0 0 0 0.25rem rgba(66, 67, 94, 0.5);
}

.btn-check:checked+.btn-dark,
.btn-check:active+.btn-dark,
.btn-dark:active,
.btn-dark.active,
.show>.btn-dark.dropdown-toggle {
    color: #ffffff;
    background-color: #1a1b34;
    border-color: #191a31;
}

.btn-check:checked+.btn-dark:focus,
.btn-check:active+.btn-dark:focus,
.btn-dark:active:focus,
.btn-dark.active:focus,
.show>.btn-dark.dropdown-toggle:focus {
    box-shadow: inset 0 3px 5px rgba(66, 67, 94, 0.5);
}

.btn-dark:disabled,
.btn-dark.disabled {
    color: #ffffff;
    background-color: #212241;
    border-color: #212241;
}

/************************ STYLING THE DATEPICKER **********************************/

/* current day */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #b3d6d7;
    background: #dcf0f0;
    color: #545454;
}

/* selected day */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid rgb(92, 147, 149);
    background: #7fc9cb;
    opacity: 0.6;
    font-weight: normal;
    color: #ffffff;
}

/* selected day if weekend  */
.ui-datepicker-calendar .ui-datepicker-week-end :active {
    border: 1px solid rgb(92, 147, 149);
    background: #7fc9cb;
    opacity: 1;
    font-weight: normal;
    color: #8c8c8c;
}

/* background of calendar popup */
.ui-state-default,
.ui-widget-content {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}

/* hover state  */
.ui-datepicker-calendar .ui-state-hover {
    background: #7fc9cb;
    color: #454545;
    opacity: 0.6;
}

/* highlight the weekends for improved UI  */
.ui-datepicker-calendar .ui-datepicker-week-end>a {
    background: #e7e7e7;
}

/* hover state for weekend  */
.ui-datepicker-calendar .ui-datepicker-week-end :hover {
    background: #7fc9cb;
}

/* highlight selected timeframe  */
.ui-datepicker-calendar .highlight a {
    background-color: #7fc9cb !important;
    border: none !important; /* Remove border to cover the entire button */
}


/* add hover and active states to save  */
.saveItinerary:hover {
    color: var(--bs-btn-hover-color);
    background-color: rgb(215, 215, 215);
}

/* save icon */
i {
    color: #7fc9cb;
    font-size: large;
}

i :hover {
    color: rgb(92, 147, 149);
    font-size: large;
}