.form-select {
    width: 50%;
    margin: 10px 0 0 10px;
}

.btn {
    margin: 10px;
}

h5 {
    font-size: 18px;
}

#currencyCard {
    width: 90%;
    padding: 10px;
    margin: 0 0 0 10px;
}

#past-searches {
    width: 90%;
    margin: auto;
}

#history-container {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
}

.btnHistory {
    text-align: center;
    width: 18rem;
    padding: 3px;
    margin: 0 5px 5px 0;
    border: solid 1px black;
    border-radius: 7px;
}

#btnClearHistory {
    margin: 0 0 10px 0;
}